<header>
  <div class="brand">
    <img src="/assets/images/logo.png" alt="avatar" />
    <h5>The Store</h5>
    
  </div>
 
  <div class="nav">
    
   <ul>
    <li>
      <!-- <a id="mode" class="active" (click)="toggleTheme()"
        style="font-size: 16px;cursor: pointer;margin-left:50px;">{{themeText}}</a> -->
        <a id="mode" [routerLink]=" " class="theme" (click)="toggleTheme()">
          {{themeText}}
        </a>
    </li>
        <li>
          <a 
            [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li >
          <a href="#" [routerLink]="['/posts']">Posts</a>
        </li>
        <li  *ngIf="!(isAuthenticated | async)">
          <a  href="#" [routerLink]="['/auth']">Login</a>
        </li>
        <li  *ngIf="!(isAuthenticated | async)">
          <a  href="#" [routerLink]="['/auth/signup']"
            >Signup</a
          >
        </li>
        <li  *ngIf="isAuthenticated | async">
          <a  href="#" (click)="onLogout($event)">Logout</a>
        </li>
    </ul>
  </div>
</header>


