<div class="container1">
<button class="button-add"   [routerLink]="['/posts/add']"
>Add Post
</button>
  <div  *ngIf="posts | async as postsData">
   <div class="product-list">
    <div class="product" *ngFor="let post of postsData">
      <div class="product-image-holder">
        <img [src]="post.image" [alt]="post.image" class="product-image">
      </div>
      <div class="product-details">
        <p class="product-details__name">{{ post.title }}</p>
        <p class="product-details__price">${{ post.description}}</p>
      </div>
      <div class="product-actions">
        <button  class="product-actions__edit" [routerLink]="['edit', post.id]"
        >Update
        </button>
        <button style="background-color: red; border-radius: 10%" class="product-actions__delete" (click)="onDeletePost(post.id)">
        Delete</button
        >
      </div>
    </div>
   </div>
  </div>
</div>
    
    